<div class="search-box">
    <img class="Logo" src="./assets/logo3.png" alt="Profile Picture" id="searchbarimage"  [routerLink]="['/']" />
    <div id="searchbar" type="checkbox">
        <input id="searchbartext" type="text"  [(ngModel)]="searchText" ng-model-options="{updateOn: 'change'}"(keydown.enter)="search()" />
        <app-voice-recognition style="padding-top: 2%; padding-right:2%"></app-voice-recognition>
        <i class="fa fa-search" id="searchIcon" style="font-size: 1.3em; color: rgb(46, 80, 173);" (click)="search()"></i>
    </div>
</div>
